*{
  box-sizing: border-box;

}
body {
  margin: 0;
  color: black;
  background-color: #f9f9f9;
  display: block;
}

.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 123px;
}
.nav-logo{
  display: flex;
  width: 237px;
  height: 64px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
#nav-links{
  display: flex;
  list-style: none;
  width: 640px;
  align-items: flex-start;
  gap: 28px;
  padding-top: 20px;
}
#nav-links a {
  color: black;
  text-decoration: none;
}
.nav-link {
  color: black;
  text-decoration: none;
  font-family: Markazi Text;
  font-size: 18px;
  font-weight: 550;
}
#nav-links li, Link{
  font-family: Markazi Text;
  font-size: 18px;
  font-weight: 550;
}
.header-container{
  background: #495E57;
  width: 1440px;
  height: 142px;
  flex-shrink: 0;
  padding-top: 16px;
  padding-left: 288px;
  padding-bottom: 33px;
}
.header-container h1{
  color: #F4CE14;
  font-family: Markazi Text;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header-container h3{
  color: #FFF;
  font-family: Markazi Text;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-container{
  display: flex;
  width: 1440px;
  height: 417px;
  flex-shrink: 0;
  background: #495E57;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  gap: 40px;
}
.container h6{
  color: #EE9972;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
